@charset "utf-8";
:root {
    --headingfont: "Open Sans", sans-serif;
    --parafont: "Open Sans", sans-serif;
    --stdwhite: white;
    --loginbtnbg: #D7E0FC;
    --lightgrey: rgb(163, 163, 163);
    --white: white;
    --dollerbtncolor: #E3D21B;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 16px;
    box-sizing: border-box;
    font-family: var(--parafont);
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

img,
video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.sec-two {
    background-image: url(../images/background/bg1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 60vh;
}

.lets-study-togather {
    padding-top: 100px;
    color: var(--stdwhite);
    font-size: 65px;
    text-shadow: 1px 1px 5px grey;
}

.sec-three-figure {
    width: 90%;
    padding: 20px 15px;
}

.sec-three-img {
    width: 60%;
}

.take-top-btn {
    position: fixed;
    bottom: 25px;
    right: 15px;
}

.get-started-btn {
    letter-spacing: 1px;
}

.enggr-atag {
    font-size: 15px;
    color: var(--lightgrey);
    letter-spacing: 0.5px;
}

.bull {
    color: var(--lightgrey);
}

.sec-five {
    background-color: var(--loginbtnbg);
    /* height: 120vh; */
    height: 100%;
}

.sec-five-input {
    margin-top: 15px;
    padding: 10px 10px;
}

.sec-five-parent {
    padding-top: 10%;
}

.coundown {
    border: 1px solid white;
    border-radius: 10px;
    padding-top: 20px;
    padding-bottom: 10px;
}

.coundown-para {
    font-size: 11px;
    font-weight: 600;
    color: var(--white);
}

.regnow-para {
    letter-spacing: 0.5px;
    word-spacing: 5px;
}

.btn-warning {
    background-color: var(--dollerbtncolor);
}

.sec-six-fig {
    position: relative;
}

.aug-26,
.networking-day {
    position: absolute;
    top: 25px;
    width: 100%;
    text-align: center;
    font-weight: 600;
    color: var(--white);
    text-shadow: 2px 2px #5555556f;
}

.networking-day {
    position: absolute;
    top: 100px;
}

.sec-six-figcaption {
    margin-top: -8px;
}

.am-9 {
    color: var(--lightgrey);
}

.sec-seven-img {
    height: 25vh;
}

.footer-logo {
    width: 100px;
}

.copyright {
    color: var(--lightgrey);
}

.logo-img {
    width: 150px;
}

.sec-six-btn,
.sec-four-but {
    border-top-right-radius: 0;
}

.magnifying-glass {
    position: relative;
    left: 28px;
    top: 10px;
}

.login-but {
    background-color: var(--loginbtnbg);
}

.my-navigation {
    position: sticky;
    top: 0;
    z-index: 20;
}

@media(min-width:768px) {
    .sec-five {
        height: 75vh;
    }
    .year-ss {
        font-size: 40px;
    }
}

@media(min-width:992px) {
    .lets-study-togather {
        padding-top: 130px;
    }
    .sec-five {
        height: 63vh;
        padding: 0 100px;
    }
    .sec-five-inputdiv {
        display: flex;
        justify-content: space-around;
    }
    .sec-five-input {
        margin: 10px 5px;
    }
    .courseforfree {
        padding-top: 18px;
    }
    .input-div-2 {
        padding-top: 20px;
    }
    .greng-ptag {
        width: 90%;
    }
    .login-but {
        background-color: var(--loginbtnbg);
    }
    .magnifying-glass {
        position: relative;
        left: 28px;
        top: 10px;
    }
    .my-navigation {
        height: 10vh;
        position: sticky;
        top: 0;
        z-index: 20;
    }
    .logo-img {
        width: 200px;
    }
    .cap-ss {
        font-size: 18px;
    }
}